body {
    box-sizing: border-box;
    margin-block: 0;
    margin: 0px;
    font-family: Arial;
}

header {
    background-color: rgb(14, 23, 78);
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0px;
    left: 0px;
}

header h1{
    color: #ffffff;
    font-weight: bold;
}

.diwy {
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.Iwant_to_talk_to_the_manager {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    min-width: 55px;
    width: 7vw;
    height: 2vh;
    border-radius: 5px;
}

.Iwant_to_talk_to_the_manager:hover {
    background-color: #ffffffe1;
    color: rgb(14, 23, 78);
    transform: translateY(-2px);
    font-weight: bold;
}

.mainContent {
    background: linear-gradient(135deg, rgba(4, 12, 66, 0.904), rgba(14, 23, 78, 0.904));
    height: 90vh;
    padding: 1px;
}

footer {
    background-color: rgba(21, 33, 122, 0.904);
    padding: 15px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(91, 91, 255);
    position: sticky;
}

.reg{
    color: white;
    padding: 25px;
    margin-left: 2%;
    font-weight: bold;
    font-size: 150%;
}

.reg li{
    padding: 15px;
}

.reg h2{
    font-size: 250%;
}


.karta {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    backdrop-filter: blur(10px);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    color: white;
    font-size: 2.5em;
}
form{
    text-align: center;
}
a{
    color: red;
}

.payment{
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 10% 0 0 0;
}


.payment .value{
    text-align: center;
    width: 250px;
    height: 60px;
    border: 1px white solid;
    border-radius: 15px;
    color: white;
    font-size: 250%;
    background-color: #00000067;
}

.payment label{
    font-size: 125%;
}

.payment .radio{
    width: 20px;
    height: 20px;
}

.payment .submit{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 120%;
    transition-duration: 0.3s;
}

.payment .submit:hover{
    transform: translateY(-12px);
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 72px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}

.about{
    padding: 60px;
    color: white;
}

.about h3{
    font-weight: bold;
}

.about h2{
    font-weight: bold;
    font-size: 250%;
    padding-bottom: 45px;
}

.about p{
    padding-bottom: 25px;
}

.about img{
    float: right;
    border-radius: 15px;
    width: 20%;
    height: auto;
    border: 3px #07CC8C solid;
}

.notVisible{
    color: rgba(255, 255, 255, 0.02);
}

.aboutCon{
    width: auto;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px rgba(255, 255, 255, 0.2) solid;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 25px;
}

.cont{
    color: white;
    text-align: center;
      display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.cont table, th {
  border: 1px solid rgb(255, 255, 255);
  background-color: #ffffff48;
  border-collapse: collapse;
  padding: 15px;
  font-weight: bold;
  font-size: 150%;
  border-radius: 10px;
}

.cont td {
  border: none;
  background-color: #ffffff1e;
  border-collapse: collapse;
  padding: 10px;
  border-radius: 5px;
}

.textUs{
    color: white;
    font-weight: bold;
}

.textUs h2{
    font-size: 200%;
}

.textUs input{
    font-size: 100%;
    color: white;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: 3px #ffffff57 solid;
    background-color: rgb(14, 23, 78);
    border-radius: 25px;
}

.textUs textarea{
    font-size: 120%;
    color: white;
    height: 200px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: 3px #ffffff57 solid;
    background-color: rgb(14, 23, 78);
    border-radius: 15px;
}

.textUs button{
    width: 9vw;
    height: 4vh;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 2px white solid;
    background-color: rgb(14, 23, 78);
}

.textUs button:hover{
    background-color: #ffffffe1;
    color: rgb(14, 23, 78);
    transform: translateY(-2px);
    font-weight: bold;
    cursor: pointer;
}

.register{
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.register .area{
    background-color: rgb(194, 194, 194);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 15px;
    padding: 6px 9px 6px 9px;
    transition: all 0.2s ease;
    width: 10%;
}

.register .area:focus{
    background-color: white;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
}

.register button{
    background-color: rgb(14, 23, 78);
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
    border-radius: 2px;
    margin: 15px;
    transition: all 0.3s ease;
}

.register button:hover{
    cursor: pointer;
    transform: translateY(-4px);
    background-color: white;
    padding: 10px 20px 10px 20px;
    color: rgb(14, 23, 78);
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
}

.login{
    color: white;
    font-weight: bold;
    font-size: 120%;
}

.login h2{
    font-size: 180%;
}

.login .area{
    background-color: rgb(194, 194, 194);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 15px;
    padding: 12px 20px 12px 20px;
    transition: all 0.2s ease;
    width: 10%;
}

.login .area:focus{
    background-color: white;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 5px;
    padding: 14px 24px 14px 24px;
}

.login .btn{
    background-color: rgb(14, 23, 78);
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
    border-radius: 2px;
    margin: 15px;
    transition: all 0.3s ease;
}

.login .btn:hover{
    cursor: pointer;
    transform: translateY(-4px);
    background-color: white;
    padding: 10px 20px 10px 20px;
    color: rgb(14, 23, 78);
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
}