body {
    box-sizing: border-box;
    margin-block: 0;
    margin: 0px;
    background: linear-gradient(135deg, rgba(4, 12, 66, 0.904), rgba(14, 23, 78, 0.904));
    font-family: Arial;
}

header {
    background-color: rgb(14, 23, 78);
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0px;
    left: 0px;
}

header h1{
    color: #ffffff;
    font-weight: bold;
}

.diwy {
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.Iwant_to_talk_to_the_manager {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    min-width: 55px;
    width: 7vw;
    height: 2vh;
    border-radius: 5px;
}

.Iwant_to_talk_to_the_manager:hover {
    background-color: #ffffffe1;
    color: rgb(14, 23, 78);
    transform: translateY(-2px);
    font-weight: bold;
}

.mainContent {
    background: linear-gradient(135deg, rgba(4, 12, 66, 0.904), rgba(14, 23, 78, 0.904));
    height: 100vh;
    color: white;
}

footer {
    background-color: rgba(21, 33, 122, 0.904);
    padding: 15px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(91, 91, 255);
    position: sticky;
}

.karta {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    backdrop-filter: blur(10px);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    color: white;
    font-size: 2.5em;
}
form{
    text-align: center;
}
a{
    color: red;
}

.payment{
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 10% 0 0 0;
}


.payment .value{
    text-align: center;
    width: 250px;
    height: 60px;
    border: 1px white solid;
    border-radius: 15px;
    color: white;
    font-size: 250%;
    background-color: #00000067;
}

.payment label{
    font-size: 125%;
}

.payment .radio{
    width: 20px;
    height: 20px;
}

.payment .submit{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: 2px white solid;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    color: white;
    font-size: 120%;
    transition-duration: 0.3s;
}

.payment .submit:hover{
    transform: translateY(-12px);
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 72px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
}