body {
    box-sizing: border-box;
    margin-block: 0;
    margin: 0px;
    font-family: Arial;
}

header {
    background-color: rgb(14, 23, 78);
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0px;
    left: 0px;
}

header h1{
    color: #ffffff;
    font-weight: bold;
}

.diwy {
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.Iwant_to_talk_to_the_manager {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    min-width: 55px;
    width: 7vw;
    height: 2vh;
    border-radius: 5px;
}

.Iwant_to_talk_to_the_manager:hover {
    background-color: #ffffffe1;
    color: rgb(14, 23, 78);
    transform: translateY(-2px);
    font-weight: bold;
}

.mainContent {
    background: linear-gradient(135deg, rgba(4, 12, 66, 0.904), rgba(14, 23, 78, 0.904));
    height: 100vh;
    padding: 2px;
}

footer {
    background-color: rgba(21, 33, 122, 0.904);
    padding: 15px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(91, 91, 255);
    position: sticky;
}


.heading {
    padding: 40px;
    color: white;
}

/* Container styling */
.container {
    border-radius: 25px; 
}

/* Main section */
.main {
    padding: 60px;
}

/* Form group */
.form-group {
    margin-bottom: 15px;
}

/* Input field */
.form-control {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    padding: 10px;
    font-weight: bold;
    background-color: rgb(14, 23, 78);
    color: white;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Prevent text wrapping in select options */
.form-control option {

}

label{
    color: white;
    font-weight: bold;
        font-size: 125%;
}

.input-group-text{
    color: white;
    font-weight: bold;
    font-size: 125%;
}

/* Button styling */
.btn {
    margin: 55px;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 32px;
        display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: rgba(14, 23, 78, 0.582);
    border: 3px #ffffff46 solid;
    color: #ffffff;
    font-weight: bold;
    transition-duration: 0.3s;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 23, 78);
    transform: translateY(-5px);
}

/* Center text */
.text-center {
    text-align: center;
}

/* Converted amount display */
#finalAmount {
    margin-top: 60px;
    color: white;
}

.finalValue {
    color: rgb(92, 203, 255);
    font-weight: bold;
}